@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Questo è un servizio di ricerca di Musei e Chiese che si trovano nella regione Marche</h4>
    <h4>Clicca su Ricerca Musei e Chiese per eseguire la tua ricerca.</h4>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
